/* ========================================================================== */
/* TYPOGRAPHY                                                                 */
/* ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&display=swap');

/* Type sizing */
$doc-font-size: 16;

/* System typefaces (OVERRIDDEN) */
$serif: Georgia, Times, serif;

$sans-serif: "JetBrains Mono", monospace;
$monospace: "JetBrains Mono", monospace;

/* Variants */
$sans-serif-narrow: $sans-serif;
$helvetica: "JetBrains Mono", monospace;

/* Type scale */
$type-size-1: 2.441em;
$type-size-2: 1.953em;
$type-size-3: 1.563em;
$type-size-4: 1.25em;
$type-size-5: 1em;
$type-size-6: 0.75em;
$type-size-7: 0.6875em;
$type-size-8: 0.625em;

/* Global font hooks */
$global-font-family: $sans-serif;
$header-font-family: $sans-serif;
$caption-font-family: $serif;
